.App {
  width: 100vw;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header-nav-wrapper {
  display: flex;
  justify-content: flex-end;

  & > a {
    margin: .5rem 1rem;
    padding: .25rem;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
      background-color: lightblue;
    } 
  }
}

.header-menu {
  float: right;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.name-container {
  margin-top: 20%;
  text-align: center;
}

footer {
  padding: 1em;
}